<div class="flex justify-center items-center h-[100vh]">
  <div class="grid gap-4 text-center">
    <h1 class="text-3xl">404 Page not found.</h1>
    <a href="/blogs"
      ><button class="border rounded w-2/3 m-auto p-3 hover:shadow-md"
        >Home
      </button>
      </a >
  </div>
</div>
