---
import { Image } from "astro:assets";
import Layout from "../layouts/PageLayout.astro";
---

<Layout>
  <Image
    class="bg-black w-full"
    src="https://img.kelbymediagroup.com/planetphotoshop/uploads/2015/07/flood-demo.jpg"
    alt="A bird sitting on a nest of eggs."
    width={1000}
    height={400}
  />
  <hr class="my-10" />
  <div class="w-full">
    <h1 class="text-5xl font-bold mb-3">Tanarak Chunsanit</h1>
    <p>
      สวัสดีชาวเน็ต, ผม ต้น เป็น Software Developer หน้าใหม่ไฟแรง ที่ชื่นชอบ
      การทำอาหาร, สร้างนู่นนี่ และ ศึกษาอะไรไปเรื่อย 🤣
      <br />.<br />
      ช่วงนี้ได้ประสบการณ์ใหม่ๆ เยอะมาก ทั้งจากงานประจำที่ทำและจากการใช้ชีวิตเรื่อยเปื่อย5555
      เลยคิดว่าการเรียนรู้ที่ดีนั้นควรจะปล่อยของ(output) ออกมาบ้าง ซึ่งจะช่วยให้สมองเข้าใจว่า
      สิ่งนี้เป็นสิ่งสำคัญ และบันทึกเอาไว้ในควาทรงจำระยะยาว (หนังสือเขาว่างั้นนะ)
      <br />.<br />
      อีกอย่างนึงคือ อยากบันทึกสิ่งที่สนใจไว้ดูตอนแก่ว่าตัวเองวัยหนุ่มเนี่ยทำอะไรไปบ้าง
      <br />.<br />

      ขอบคุณทุกคนที่สนใจเว็บเรา ยังไงก็สามารถทักทายได้ทางช่องทางอื่นๆ ที่ <a target="_blank"
        href="https://x.com/tanachuns"
      >
        @tanachuns
      </a>
    </p>
  </div>
</Layout>
