---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout title="Tanarak's DigitalPond. | PoBrosdoro">
  <h1 class="text-4xl">PoBrosdoro</h1>
  <br />
  <hr />
  <div class="flex flex-col gap-y-3 pt-2">
    <img
      id="image"
      src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExd3o5OHRnc2J3aDR2dmtjbG1kcnVsazhwdGJxY2NjZTBlMDRtbHpsbSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Jcq1akTynYlDG/giphy.webp"
      alt="Bros're wokring!!!!"
      height="500"
      style="margin: 0 auto;"
    />
    <!-- <img
      src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExd3o5OHRnc2J3aDR2dmtjbG1kcnVsazhwdGJxY2NjZTBlMDRtbHpsbSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Jcq1akTynYlDG/giphy.webp"
      alt="Bro's resting."
      width="500"
      style="margin: 0 auto;"
    />
    <img
      src="https://content.imageresizer.com/images/memes/Frozen-Guy-meme-4.jpg"
      alt="Bro's freezing."
      width="500"
      style="margin: 0 auto;"
    /> -->
    <h2 id="time" class="text-3xl m-auto">Time</h2>
    <h4 id="loops" class="text-xl m-auto">0 Loops🔥</h4>
    <h2 id="state" class="font-bold text-xl m-auto text-cente">Idle</h2>
    <button id="startBtn">Start</button>
    <button id="stopBtn">Pause</button>
    <button id="resetBtn">Stop</button>
  </div>

  <script>
    const BaseWorkingTime = 75000;
    const BaseRestingTime = 1500;
    let BaseLoops = 0;

    const timeDisplay = document.getElementById("time") as HTMLElement;
    const state = document.getElementById("state") as HTMLElement;
    const image = document.getElementById("image") as HTMLImageElement;
    const loops = document.getElementById("loops") as HTMLImageElement;

    const startBtn = document.getElementById("startBtn") as HTMLButtonElement;
    const stopBtn = document.getElementById("stopBtn") as HTMLButtonElement;
    const resetBtn = document.getElementById("resetBtn") as HTMLButtonElement;

    let seconds = BaseWorkingTime;
    let interval: number = 0;
    timeDisplay.innerText =
      seconds.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + " seconds";

    startBtn.onclick = function () {
      if (state.innerText === "Idle" || state.innerText === "Working") {
        state.innerText = "Working";
        image.src =
          "https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExanNwNHRlZjJtM28zZDNyaWhoamVoMW0wbzRicXE0bTIyNmlmdHJicCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/kUNuMR2htAPA0PGlDP/giphy.webp";
        image.alt = "Bros're Resting!!!!";
      }
      if (!interval) {
        interval = setInterval(() => {
          seconds--;
          timeDisplay.innerText =
            seconds.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") +
            " seconds";
          if (seconds == 0 && state.innerText == "Working") {
            seconds = BaseRestingTime;
            state.innerText = "Resting";
            image.src =
              "https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExd3o5OHRnc2J3aDR2dmtjbG1kcnVsazhwdGJxY2NjZTBlMDRtbHpsbSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Jcq1akTynYlDG/giphy.webp";
            image.alt = "Bros're Resting!!!!";
            alert("Bruh, chill and catch some Z's!");
          } else if (seconds == 0 && state.innerText == "Resting") {
            BaseLoops += 1;
            loops.innerText = BaseLoops + " Loops🔥";
            seconds = BaseWorkingTime;
            image.src =
              "https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExanNwNHRlZjJtM28zZDNyaWhoamVoMW0wbzRicXE0bTIyNmlmdHJicCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/kUNuMR2htAPA0PGlDP/giphy.webp";
            image.alt = "Bros're wokring!!!!";
            state.innerText = "Working";
            alert("Nah fam, time to grind!");
          }
        }, 1000);
      }
    };
    stopBtn.onclick = function () {
      clearInterval(interval);
      interval = 0;
      image.src =
        "https://content.imageresizer.com/images/memes/Frozen-Guy-meme-4.jpg";
      image.alt = "Bro's freezing.";
    };

    resetBtn.onclick = function () {
      clearInterval(interval);
      interval = 0;
      seconds = BaseWorkingTime;
      state.innerText = "Idle";
      timeDisplay.innerText =
        seconds.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + " seconds";
      image.src =
        "https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExd3o5OHRnc2J3aDR2dmtjbG1kcnVsazhwdGJxY2NjZTBlMDRtbHpsbSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Jcq1akTynYlDG/giphy.webp";
      image.alt = "Bros're Resting!!!!";
    };
  </script>
</Layout>
