---
import BlogCard from "../components/BlogCard.astro";
import Layout from "../layouts/BaseLayout.astro";
import { getCollection, getEntry } from "astro:content";

// Get all entries from a collection.
// Requires the name of the collection as an argument.
// Example: retrieve `src/content/blog/**`
const blogCollection = await getCollection("blog");
---

<Layout title="Tanarak's DigitalPond. | Stories">
  <h1 class="text-4xl">Stories</h1>
  <br />
  <hr />
  <div class="flex flex-col gap-y-3 pt-2">
    {
      blogCollection.map((item: any) => {
        return <BlogCard post={item} />;
      })
    }
  </div>
</Layout>
