---
import { Image } from "astro:assets";
import Ham from "../images/ham.svg";
---

<script>
  const openModalButton = document.getElementById(
    "openModal"
  ) as HTMLButtonElement;
  const closeModalButton = document.getElementById(
    "closeModal"
  ) as HTMLButtonElement;
  const modal = document.getElementById("myModal") as HTMLDialogElement;

  openModalButton.addEventListener("click", () => {
    modal.classList.remove("hidden");
    modal.classList.add("flex");
  });

  closeModalButton.addEventListener("click", () => {
    modal.classList.remove("flex");
    modal.classList.add("hidden");
  });
</script>
<button id="openModal" class="px-4 py-2 block sm:hidden">
  <Image src={Ham} alt="hamberger menu" width={25} /></button
>
<div
  id="myModal"
  class="fixed inset-0 hidden bg-gray-900 bg-opacity-50 items-center justify-center"
>
  <div
    class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all w-full h-full flex items-center"
  >
    <div class="h-1/2 w-full flex flex-col justify-around items-center">
      <a class="hover:underline" href="/"><p>Home</p></a>
      <a class="hover:underline" href="/stories"><p>Stoires</p></a>
      <a class="hover:underline" href="/tags"> <p>Tags</p> </a>
      <!-- <p><a class="hover:underline" href="/archive">Archive</a></p> -->
      <b id="closeModal"> Close </b>
    </div>
  </div>
</div>
