---
import { Image } from "astro:assets";
import Ham from "../images/ham.svg";
---

<script>
  const openModalButton = document.getElementById(
    "openModal"
  ) as HTMLButtonElement;
  const closeModalButton = document.getElementById(
    "closeModal"
  ) as HTMLButtonElement;
  const modal = document.getElementById("myModal") as HTMLDialogElement;

  openModalButton.addEventListener("click", () => {
    modal.classList.remove("hidden");
    modal.classList.add("flex");
  });

  closeModalButton.addEventListener("click", () => {
    modal.classList.remove("flex");
    modal.classList.add("hidden");
  });
</script>
<button id="openModal" class="px-4 py-2 block sm:hidden">
  <Image src={Ham} alt="hamberger menu" width={25} /></button
>
<div
  id="myModal"
  class="fixed inset-0 hidden bg-gray-900 bg-opacity-50 items-center justify-center"
>
  <div
    class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all w-full h-full"
  >
    <div class="bg-white px-4 pt-5 pb-4">
      <div class="sm:flex sm:items-start">
        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
          <div class="mt-2">
            <div class="text-center text-xl">
              <p><a class="hover:underline" href="/">Home</a></p>
              <p><a class="hover:underline" href="/stories">Stoires</a></p>
              <p>
                <a class="hover:underline" href="/tags">Tags</a>
              </p>
              <!-- <p><a class="hover:underline" href="/archive">Archive</a></p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=" px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
      <button
        id="closeModal"
        class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
      >
        Close
      </button>
    </div>
  </div>
</div>
