---
import { Image } from "astro:assets";
import LogoImages from "../images/logo.svg";
import Modal from "./MenuModal.astro";
---

<nav class="px-5 py-3 shadow-sm flex justify-between items-center">
  <Modal />
  <a href="/" class="hidden sm:block">
    <div class="flex gap-2">
      <Image src={LogoImages} alt="Logo" width={25} />
      <h2 class="text-3xl">TanaByThePond.</h2>
    </div>
  </a>
  <div class="hidden gap-4 sm:flex">
    <a class="hover:underline" href="/">Home</a>
    <a class="hover:underline" href="/blogs">Blogs</a>
    <a class="hover:underline" href="/tags">Tags</a>
    <a class="hover:underline" href="/archive">Archive</a>
  </div>
</nav>
