---
import { Image } from "astro:assets";
import LogoImages from "../images/logo.svg";
import Modal from "./MenuModal.astro";
---

<nav class="px-5 py-3 shadow-sm flex justify-between items-center">
  <Modal />
  <div class="flex">
    <a href="/" class="hidden sm:block">
      <div class="flex gap-2">
        <!-- <Image src={LogoImages} alt="Logo" width={25} /> -->
        <h2 class="text-3xl">TanaByThePond.</h2>
        <small>0 Weeks StreakðŸ”¥</small>
      </div>
    </a>
  </div>
  <div class="hidden gap-4 sm:flex">
    <a class="hover:underline" href="/">Home</a>
    <a class="hover:underline" href="/stories">Stories</a>
    <a class="hover:underline" href="/tags">Tags</a>
    <!-- <a class="hover:underline" href="/archive">Archive</a> -->
    <!-- <a
      href="https://webring.wonderful.software#https://blog.tanabythepond.dev/"
      title="à¸§à¸‡à¹à¸«à¸§à¸™à¹€à¸§à¹‡à¸š"
    >
      <img
        class="hover:animate-spin"
        alt="à¸§à¸‡à¹à¸«à¸§à¸™à¹€à¸§à¹‡à¸š"
        width="25"
        height="25"
        src="https://webring.wonderful.software/webring.black.svg"
      />
    </a> -->
  </div>
</nav>
