---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";

// interface Props {
//   title: string;
// }

// const { title } = Astro.props;
---

<!doctype html>
<html lang="th">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Tanabythepond.dev | Tanarak's Pond.</title>
    <meta
      name="description"
      content="Explore a programming, development, cooking, lifestyle, IT, and coding. Join us for insightful articles, tutorials, and tips on balancing tech and life."
    />
    <meta
      name="keywords"
      content="Astro blog, programming, development, coding, IT, cooking, lifestyle, tech blog, tutorials, tech tips, recipes, work-life balance"
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
