---
import Layout from "./BaseLayout.astro";

---

<!-- <Layout>
  <main class="md:container md:mx-auto py-5">
    <slot />
  </main>
</Layout> -->

<Layout>
  <main class="mx-auto py-5 w-1/2 min-h-[90vh] ">
    <slot />
  </main>
</Layout>
