---
import Layout from "./BaseLayout.astro";
---

<!-- <Layout>
  <main class="md:container md:mx-auto py-5">
    <slot />
  </main>
</Layout> -->
<Layout>
  <main class="lg:mx-auto py-5 mx-2 xl:w-[1000px] min-h-[100vh]">
    <slot />
  </main>
</Layout>
